.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #61dafb;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
}

.navbar-logo img {
  width: 70px; /* Ajusta el tamaño del logo */
  margin-right: 8px;
  /* border: 1px solid white; borde blanco alrededor del logo */
  /* border-radius: 8px; Redondea los bordes */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

.navbar-logo img:hover  {
  transform: scale(0.9); /* Efecto de agrandamiento al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar-logo p:hover  {
  transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 10px;
  
}

.navbar-links a, 
.navbar-links button {
  color: #ffffff;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.navbar-links button:hover,
.navbar-links a:hover,
.navbar-links li :hover{
  transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
  color: #61dafb;
}

.notifications {
  position: relative;
  cursor: pointer;
}
