/* src/components/Sidebar/Sidebar.css */
.sidebar {
  width: 240px;
  background-color: #282c34;
  padding: 25px;
  color: #fff;
  height: 100%;
  position: fixed;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar h2 {
  font-size: 1.1rem;
  margin-bottom: 25px;
  color: #61dafb;
}

.sidebar ul {
  list-style-type: none;
  padding: 10px;
}

.sidebar ul li {
  margin-bottom: 25px;
}

.sidebar li :hover {
  transform: scale(1.05); /* Efecto de agrandamiento al pasar el ratón */
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  color: #61dafb;
}

.icon {
  margin-right: 10px;
}

/* Estilos para mobile */
.hamburger {
  display: none;
  font-size: 1.7rem;
  position: absolute;
  top: 75px;
  left: 8px;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.hamburger :hover {
  transform: scale(1.05);
  color: #61dafb;
}

@media (max-width: 768px) {
  .sidebar {
      transform: translateX(-100%);
  }

  .sidebar.open {
      transform: translateX(0);
  }

  .hamburger {
      display: block;
  }

  .sidebar {
    width: 220px;
    background-color: #282c34;
    padding: 36px;
    opacity: 97%;
  }
}
